.movie-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 25px;
  padding: 30px;
  max-width: 80%;
  margin: 0 auto;
  background-color: var(--bg-primary);
}

@media (max-width: 768px) {
  .movie-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
  }
}
